body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("/image/dog_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left center;
}

a {
  color: #6b5113;
}

.weather-app {
  background: rgb(215, 205, 195);
  max-width: 600px;
  margin: 60px auto;
  margin-right: 40px;
  padding: 30px;
  border-color: #352e12;
  border-radius: 20px;
  box-shadow: 0 30px 50px #352e12;
  padding: 30px;
}

header {
  border-bottom: 1px solid #352e12;
  padding-bottom: 30px;
}

.search-form-input {
  background-color: #c8b192;
  border: none;
  color: #352e12;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #c89864;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  font-size: 48px;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  color: #352e12;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.weather-app-details strong {
  color: #352e12;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
}

.wetaher-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #352e12;
  text-align: center;
  padding-top: 15px;

  color: #352e12;
}
